body {
    margin:0;
}

/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.button {
    display: inline-block;
    border-radius: 4px;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\27A4';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span{
    padding-right: 20px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}

/* Links inside the navbar */
.navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
}

/* Main content */
.main {
    padding-top: 20px;
    margin-top: 30px; /* Add a top margin to avoid content overlay */
} 

iframe.area-desplegado
{
   top:  6%;
   width: 100%;
   height: 100%;
   position: fixed;
   overflow: scroll;
}